<form
[formGroup]="fg"
(ngSubmit)="guardar(fg.controls['name'].value, 
                    fg.controls['url'].value
)">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre.." 
        [formControl]="fg.controls['name']">
        <!-- start SearchResults -->
        <ul>
            <li *ngFor="let r of searchResults;">{{u}}</li>
        </ul>
        <!-- end SearchResults -->
        <div *ngIf="fg.controls['name'].hasError('required')">Nombre requerido!</div>
        <div *ngIf="fg.controls['name'].hasError('invalidName')">Nombre invalido!</div>
        <div *ngIf="fg.controls['name'].hasError('minLongName')">Nombre debe tener al menos {{minLongitud}} de largo!</div>

    </div>
    <div class="form-group">
        <label for="imagen url"> Imagen Url </label>
        <input type="text" class="form-control" id="imagenurl" placeholder="Ingresar url" 
        [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid"> Save </button>
</form>