<div class="card-content">
		<div class="card-img">
			<img src="https://placeimg.com/300/230/nature" alt="">
			<span><h4>{{position}}</h4></span>
		</div>
		<div class="card-desc">
			<h3>{{destino.name}}</h3>
			<p>Servicos</p>
			<ul>
				<li *ngFor="let s of destino.servicios">
					<span [ngSwitch]="s">
						<i *ngSwitchCase="'desayuno'" style="color: #ff9500">{{s}}</i>
						<i *ngSwitchDefault>{{s}}</i>
				    </span>

				</li>
			</ul>
			<a href="#" class="btn-card" (click)="ir()">Go!</a>
			<span *ngIf="destino.isSelected()">
				<span ngNonBindable>PREFERIDO</span>
			</span>
			<a [routerLink]="['/destino', destino.id]"> Ver!</a>
		</div>
</div>
<br>
<br>



