/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

/*ESTILO DE NUESTRAS TARJETAS*/

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


section{
	padding: 100px 0;
}
.card-group {
	width: 50px;
}

.details-card {
	background: white;
}

.card-content {
	margin-right: 40px;
	background: white;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px;
}

.card-img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
	top: 15%;
	left: 10%;
	background: #a6ff00;
	padding: 6px;
	color: black;
	font-size: 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	transform: translate(-50%, -50%);
}
.card-img h4{
	color: black;
	font-size: 12px;
	margin: 0;
	padding: 10px 5px;
	line-height: 0;
}

.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1.3em;
	margin-top: 0;
	margin-bottom: 5px;
	padding: 0;
}

.card-desc p {
	color: #747373;
	font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.btn-card {
	background-color: black;
	color: white;
	padding: 8px 8px 8px 8px;
}
.btn-card:hover {
  background-color: #a6ff00;
}
 
a.btn-card {
	text-decoration: none;
	color: #fff;
}

/* end */

/*formulario*/

.card {
	border-color:#a6ff00;
}
.card-header{
	background-color: #a6ff00;
	color: black;
	font-family: italic;
}
.form-group input{
  border-color: #a6ff00;
}

.btn-primary {
	border-color: #a6ff00;
	color: black;
	background-color: #a6ff00;
}
.btn-primary:hover {
	color: white;
	background: black;

}

/*end formulario*/