  <div class="container content">
        <div class="page-header">
            <div class="container">
                <h1>Ruteo Simple</h1>
                <div class="navLink">
                    <a [routerLink]="['/home']">HOME</a>
                </div>
            </div>
        </div>
    <div class="row">
      <h1 align="center">
        {{ title }}
      </h1>
    </div>
  <router-outlet></router-outlet>
</div>
<hr class="mb-5">
  fecha: {{ time | async }}
  <br>  
 